<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
<h1>Danh sách danh mục</h1>

<form>
    <input name="name" id="name">
    <button type="submit" onclick="addCategories()">AddNew</button>
</form>

<table id="content">
    <tr>
        <td>#</td>
        <td>name</td>
        <td>action</td>
        <td>action2</td>
    </tr>
    <tbody >

    <th:block th:each="c:${categories}">
        <tr>
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td><a class="deleteCategories" th:href="${c.getId()}">Xoa</a></td>
            <td><a class="editCategories" th:href="${c.getId()}">Update</a></td>
        </tr>
    </th:block>
    </tbody>
</table>

<form id="formEdit">

</form>


<script type="text/javascript">

      function addCategories(){
        //lay du lieu
        let name = $('#name').val();
        // let name = document.getElementById("name").value;

        //tao doi tuong de gui len sever
        let newCategories = {
          name:name

        }
        //gui request

        $.ajax({
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          type:"POST",
          //chuyen object thanh json
          //dinh nghia du lieu
          data: JSON.stringify(newCategories),
          //tên API
          url:"/category/create",
          //xử lý khi thành công
          success: successHandler
          //goi lai danh sach
          //dien lai thong tin vao bang

        });
        //chặn sự kiện mặc định của thẻ
        event.preventDefault();
      }

      function successHandler(){
          console.log("in ra man hinh ket qua")
        $.ajax({
          type:"GET",
          url: "/category/list",
          success: function (categoryList){
              console.log("in ra mang mang ", categoryList )

            let c = "<tr>" +
                "        <td>#</td>" +
                "        <td>name</td>" +
                "        <td>action</td>" +
                "        <td>action2</td>" +
                "    </tr>";
            for (let i = 0; i < categoryList.length; i++) {
                    c+= getCategoryList(categoryList[i])
              // c+= `<tr>
              //       <td>${categoryList[i].id}</td>
              //       <td>${categoryList[i].name}</td>
              //       <td><a class="deleteCategories" th:href="${categoryList[i].id}">Xoa</a></td>
              //       <td><a class="editCategories" th:href="${categoryList[i].id}">Update</a></td>
              //       </tr>`
            }
            document.getElementById("content").innerHTML = c;

          }
        });
      }

      function getCategoryList(category) {
          return `<tr >
                     <td>${category.id}</td>
                    <td>${category.name}</td>
                    <td><a class="deleteCategories" href="${category.id}">Xoa</a></td>
                    <td><a class="editCategories" href="${category.id}">Update</a></td>
                  </tr>`;
      }


        function updateCategory(){
            let updateId = $('#oldId').val();
            let updateName =$('#oldName').val();
            let updateCategory = {
                id : updateId,
                name: updateName,
            };
            $.ajax({
                headers:{
                    'Accept': 'application/json ',
                    'Content-Type': 'application/json'
                },
                type: 'PUT',
                url: "/category/update/"+updateId,
                data: JSON.stringify(updateCategory),
                success: successHandler

            });

            event.preventDefault();

        }


      $(document).ready(function () {
          $(document).on("click",".deleteCategories",function (event) {
              let a = $(this);
              let id= a.attr("href");
              //gui request xoa xoa o webservice
              $.ajax({
                  //method
                  type: "DELETE",
                  //duong dan cua API
                  url: "/category/delete/"+ id,
                  //tai lai du lieu thao tac o tren DOM
                  success: function (){
                      a.parent().parent().remove();
                  }
              });
              //chặn sự kiện mặc định của thẻ
              event.preventDefault();
          });

        //sư kiện nào thực hiện Ajax

        $('.deleteCategories').click(function(event){
          //lay id ra
          // let a = document.getElementById("name").value;
          // let b = $("#name").val;
          let a = $(this);
          let id= a.attr("href");
          //gui request xoa xoa o webservice
          $.ajax({
            //method
            type: "DELETE",
            //duong dan cua API
            url: "/category/delete/"+ id,
            //tai lai du lieu thao tac o tren DOM
            success: function (){
              a.parent().parent().remove();
            }
          });

          //tai lai du lieu

          //chặn sự kiện mặc định của thẻ
          event.preventDefault();

        });


        $('.editCategories').click(function (event) {

              let b = $(this);
              let id2 = b.attr("href");
              //gui request xoa xoa o webservice
              $.ajax({
                  //method
                  type: "GET",
                  //duong dan cua API
                  url: "/category/" + id2,
                  //tai lai du lieu thao tac o tren DOM
                  success: function (category2){
                      let content2 = "";

                      content2="<h3>Form Edit</h3><table> "+
                          "<tr><td><input id='oldId' name='id' type='text' value='"+ category2.id +"'disabled></td></tr>"+
                          "<tr><td><input id='oldName' name='name' type='text' value='"+ category2.name +"'></td>"+
                          "</table> <button type='submit' onclick='updateCategory()'>Update</button>"


                      document.getElementById("formEdit").innerHTML = content2;
                  }
              });

              //tai lai du lieu

              //chặn sự kiện mặc định của thẻ
              event.preventDefault();
          });


      });


</script>

</body>
</html>